extends layout

block content
  center
    .row
      canvas#canvas(height="400px", width="600px")
    .row
      #time
    .row
      button.btn(onmouseover="message()") clickMe
  script.
    NProgress.start();  //NProgress.set(0.0);
    NProgress.set(0.4);
    NProgress.done(); //NProgress.set(1.0);
    //NProgress.inc(0.3);
    //NProgress.configure({ speed: 100 });

    $('#time').append(moment().format('YYYY-MM-DD hh:mm:ss a'));

    var message = function() {
      Messenger().post({
        message: "Hello World!!!"
      })
    }

    var chartlabels = ['dog','cat','aaa','bbb','ccc','ddd'];
    var data1 = [11, 34, 57, 56, 24, 56];
    var data2 = [23, 34, 54, 35, 12, 45];

    var chartData = {
      labels : chartlabels,
      datasets : [
        {
          label: "First dataset",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : data1
        },
        {
          label: "Second dataset",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(151,187,205,1)",
          data : data2
        }
      ]
    }
    var ctx = document.getElementById("canvas").getContext("2d");
    new Chart(ctx).Line(chartData);