doctype html
html
  head
    title= title
    meta(charset = "utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel = "stylesheet" href = "/static/style/dist/main.css")
    script(type = "text/javascript" src = "/bower_components/jquery/dist/jquery.js")
    script(type = "text/javascript" src = "/bower_components/jquery/dist/jquery.min.js")
    script(type = "text/javascript" src = "/bower_components/Chart.js/Chart.js")
    script(type = "text/javascript" src = "/bower_components/jquery.inputmask/dist/inputmask/jquery.inputmask.js")
    script(type = "text/javascript" src = "/bower_components/moment/moment.js")
    script(type = "text/javascript" src = "/bower_components/nprogress/nprogress.js")
    link(rel = "stylesheet" href = "/bower_components/nprogress/nprogress.css")
    script(type = "text/javascript" src = "/bower_components/messenger/build/js/messenger.js")
    link(rel = "stylesheet" href = "/bower_components/messenger/build/css/messenger.css")
    script(type = "text/javascript" src = "/static/js/dist/main.js")
    script(type = "text/javascript" src = "/static/js/dist/mask.js")
  body
    block content