@import "../../bower_components/bootstrap/less/bootstrap.less";

@white: #fff;
@darkBlue: #353d44;
@blue: #4C5B72;
@indiBgcolor: #ECECEC;
@red: #E7271C;
@wine: #A63247;
@bgcl: #F2F2F2;

body{font-family:'NanumGothic','Malgun Gothic';}
li{list-style: none;}
hr{border-color: @blue;}
.required{color: @red;}
.nextBtn{background: @blue; color: @white; width: 100%;}
.nextBtn:hover{background: rgba(76, 91, 115, 0.8); color: @white;}

.header{
  height: 60px; background: @darkBlue;
  #logo{font-size: 45px; color: @white; height: 60px;}
}
.mainBox{
  #bookMenu{
    margin-top: 2%;
    li{a{color: @blue;}}
  }
  #bookContents{
    margin-top: 2%;
    #roomBox{
      #roomInfo{
        background: @indiBgcolor;
        height: auto;
        #roomImg{
          width: 100%;
          height: 250px;
          background: url('/static/image/roomEx.jpg') no-repeat center center;
          h3{color: @blue;}
        }
        #bookRoom{
          margin: 5%;
          #date{
            margin-bottom: 3%;
          }
        }
      }
    }
  }
  #bookForm{
    div{margin-top: 2%;}
    #bookalert{
      background: @indiBgcolor;
      height: auto;
    }
  }
}